.age-america {
  background-color: #ffcccc; /* Light red */
}

.age-asia {
  background-color: #ffeb99; /* Light yellow */
}

.age-africa {
  background-color: #ffeb99; /* Light green */
}

.age-oceania {
  background-color: #ccccff; /* Light blue */
}
